{#
Основной добавочный шаблон страницы админки
Компоненты:
    account - компонент аккаунта
параметры:
    currentUser - текущий пользователь
    content - содержимое страницы
    script - скрипты страницы
#}
{% block script %}
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    {% if assets['index.css'] is defined and assets['index.css'] %}
        <link rel="stylesheet" href="{{ assets['index.css'] }}">
    {% endif %}
</head>
<body>
<div id="app">
    {# Шапка сайта #}
    <header class="header">
        <div class="container header__content">
            <div class="header__left">
                <a href="/home" class="logo">
                    <img class="logo__img" src="/style/img/logo.png" alt="logo"> <span
                            class="logo__bran">BRAN</span><span
                            class="logo__bran-d">D</span>
                </a>
            </div>
            <div class="header__right">
                {# Подключение компонента аккаунта для вывода меню аккаунта #}
                <drop-account ref="dropAccount" :current-user="{{ currentUser | json_encode }}"></drop-account>
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            {# Меню админки #}
            <ul class="menu">
                <li class="menu__list"><a href="/home" class="menu__link">Home</a></li>
                <li class="menu__list"><a href="/admin/users" class="menu__link">All users</a>
                <li class="menu__list"><a href="/admin/orders" class="menu__link">All orders</a>
            </ul>
        </div>
    </nav>
    {# Отображение содержимого страницы #}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
{# Подключение скриптов #}
    {% if currentUser.role == 1 %}
        <script src="{{ envLink }}/dist/admin.js"></script>
    {% endif %}
{% endif %}

{% if manifest is defined %}

{% endif %}

{# Подключаем основной JS #}
{% if assets['index.js'] is defined and assets['index.js'] %}
    <script src="{{ assets['index.js'] }}" defer></script>
{% endif %}

{# Подключаем админский JS #}
{% if currentUser.role == 1 and assets['admin.js'] is defined and assets['admin.js'] %}
    <script src="{{ assets['admin.js'] }}" defer></script>
{% endif %}