{#
    Шаблон страницы "Товары"
    Выводит список товаров с фильтрацикей по категориям, брендам, дизайнерам и размерам с пагинацией
    Компоненты:
        products-page - компонент для отображения списка товаров
    параметры:
        goods - список товаров
        storage - данные о корзине
        goodsCategories - список категорий (глобальные переменные)
        goodsBrands - список брендов (глобальные переменные)
        goodsDesigners - список дизайнеров (глобальные переменные)
        topDesigners - список популярных дизайнеров
        sizes - список размеров
        maxPrice - максимальная цена товара
        maxPages - максимальное количество страниц
        renderType - тип отображения товар
#}
{% extends 'layouts/main.twig' %}
{# Заголовок #}
{% block title %}Goods{% endblock %}
{% block content %}
    {# Подключение компонента страницы товаров #}
    <products-page ref="productsPage"
                   :goods="{{ goods | json_encode }}"
                   :storage="{{ storage | json_encode }}"

                   :categories="{{ goodsCategories |json_encode }}"
                   :brands="{{ goodsBrands | json_encode }}"
                   :designers="{{ goodsDesigners | json_encode }}"
                   :top-designers="{{ topDesigners | json_encode }}"
                   :sizes="{{ sizes | json_encode }}"

                   :max-price="{{ maxPrice }}"
                   :max-pages="{{ maxPages }}"

                   :render-type="{{ renderType | json_encode }}"

                   :gender = "{{ gender | json_encode }}"
                   :category="{{ category | json_encode }}"
                   :brand="{{ brand | json_encode }}"
                   :designer="{{ designer | json_encode }}"></products-page>
    <section class="goods">
        <div class="goods__offer">
            <figure>
                <img class="goods__offer__img1" src="/style/img/cur.svg" alt="cur">
                <div class="goods__offer__text">
                    <h1>Free Delivery</h1>
                    <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                        models.
                    </p>
                </div>
            </figure>
            <figure>
                <img class="goods__offer__img2" src="/style/img/sale.svg" alt="sale">
                <div class="goods__offer__text">
                    <h1>Sales & discounts</h1>
                    <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                        models.
                    </p>
                </div>
            </figure>
            <figure>
                <img class="goods__offer__img2" src="/style/img/crown.svg" alt="crown">
                <div class="goods__offer__text">
                    <h1>Quality assurance</h1>
                    <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                        models.
                    </p>
                </div>
            </figure>
        </div>
    </section>
{% endblock %}
