{% extends 'layouts/main.twig' %}
{% block title %}Goods{% endblock %}
{% block content %}
    <products-page ref="productsPage"
                   :goods="{{ goods | json_encode }}"
                   :storage="{{ storage | json_encode }}"

                   :categories="{{ categories |json_encode }}"
                   :brands="{{ brands | json_encode }}"
                   :designers="{{ designers | json_encode }}"
                   :top-designers="{{ topDesigners | json_encode }}"
                   :sizes="{{ sizes | json_encode }}"

                   :max-price="{{ maxPrice }}"
                   :max-pages="{{ maxPages }}"

                   :render-type="{{ renderType | json_encode }}"

                   :gender = "{{ gender | json_encode }}"
                   :category="{{ category | json_encode }}"
                   :brand="{{ brand | json_encode }}"
                   :designer="{{ designer | json_encode }}"></products-page>
    <section class="goods">
        <div class="goods__offer">
            <figure>
                <img class="goods__offer__img1" src="/style/img/cur.svg" alt="cur">
                <div class="goods__offer__text">
                    <h1>Free Delivery</h1>
                    <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                        models.
                    </p>
                </div>
            </figure>
            <figure>
                <img class="goods__offer__img2" src="/style/img/sale.svg" alt="sale">
                <div class="goods__offer__text">
                    <h1>Sales & discounts</h1>
                    <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                        models.
                    </p>
                </div>
            </figure>
            <figure>
                <img class="goods__offer__img2" src="/style/img/crown.svg" alt="crown">
                <div class="goods__offer__text">
                    <h1>Quality assurance</h1>
                    <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                        models.
                    </p>
                </div>
            </figure>
        </div>
    </section>
{% endblock %}
