{#
Освной добавочный шаблон для всех пользовательских страниц сайта
Компоненты:
    drop-cart - дроп элемент меню корзина
    account - дроп элемент меню аккаунт
    drop-def - выпадающее меню
    filter-el - фильтр (не используется)
параметры:
    currentUser - текущий пользователь
    goodsCategories - категории товаров
    goodsBrands - бренды товаров
    goodsDesigners - дизайнеры товаров
    title - заголовок страницы
#}
{% block script %}
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# Подстановка заголовка #}
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="/dist/static/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('index.css') }}">
</head>
<body>
<div id="app">
    {# Шапка #}
    <header class="header">
        <div class="container header__content">
            <div class="header__left">
                <a href="/home" class="logo">
                    <img class="logo__img" src="/dist/static/logo.png" alt="logo">
                    <span class="logo__bran">BRAN</span><span
                            class="logo__bran-d">D</span>
                </a>
            </div>
            <div class="header__right">
                {# Меню корзины #}
                <drop-cart ref="dropCart"></drop-cart>
                {# Меню аккаунта #}
                <drop-account ref="dropAccount" :current-user="{{ currentUser | json_encode }}"></drop-account>
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            {# Меню быстрого доступа к товарам по фильтрам #}
            <drop-def ref="dropDef"
                      :categories="{{ goodsCategories | json_encode }}"
                      :brands="{{ goodsBrands | json_encode }}"
                      :designers="{{ goodsDesigners | json_encode }}"></drop-def>
        </div>
    </nav>
    {# Подстановка контента #}
    {% block content %}
    {% endblock %}
    {# Блок подписки на рассылку #}
    <div class="subscribe__block">
        <div class="subscribe__content container">
            <div class="quote">
                <img src="/dist/static/face.jpg" alt="face">
                <div class="quote__content">
                    <p class="quote__text">“Vestibulum quis porttitor dui! Quisque viverra nunc mi,
                        a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</p>
                    <p class="quote__name">Bin Burhan <br>
                        <span>Dhaka, Bd</span></p>
                </div>
            </div>
            <div class="subscribe">
                <h1 class="subscribe__h1">Subscribe</h1>
                <h2 class="subscribe__h2">FOR OUR NEWLETTER AND PROMOTION</h2>
                <form>
                    <label>
                        <input type="text" class="subscribe__input" placeholder="Enter Your Email">
                    </label>
                    <button class="subscribe__button">Subscribe</button>
                </form>
            </div>
            <div class="crl">
            </div>
        </div>
    </div>
    {# Подвал #}
    <div class="clr"></div>
    <footer class="footer">
        <div class="footer_content container">
            <div class="description">
                <a href="/home" class="logo">
                    <img class="logo__img" src="/dist/static/logo.png" alt="logo"> <span
                            class="logo__bran">BRAN</span><span
                            class="logo__bran-d">D</span>
                </a>
                <p class="description__text">
                    Objectively transition extensive data rather than cross functional solutions.
                    Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly
                    syndicate
                    an
                    expanded array of processes and cross-unit partnerships.<br>
                    <br>
                    Efficiently plagiarize 24/365 action items and focused infomediaries.
                    Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
            </div>
            <div class="company">
                <h3 class="company_h3">COMPANY</h3>
                <ul class="footer_lu">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/good/all">Shop</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">How it Works</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="information">
                <h3 class="information_h3">INFORMATION</h3>
                <ul class="footer_lu">
                    <li><a href="#">Tearms & Condition</a></li>
                    <li><a href="#">Privacy Police</a></li>
                    <li><a href="#">How to Buy</a></li>
                    <li><a href="#">How to Sell</a></li>
                    <li><a href="#">Promotion</a></li>
                </ul>
            </div>
            <div class="shop_category">
                <h3 class="shop_category_h3">SHOP CATEGORY</h3>
                <ul class="footer_lu">
                    <li><a href="/good/all?gender=man">Men</a></li>
                    <li><a href="/good/all?gender=woman">Women</a></li>
                    <li><a href="/good/all?gender=unisex">unisex</a></li>
                    <li><a href="/good/all?category=Accessories">Accessories</a></li>
                    <li><a href="/good/all">Brows All</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom__content container">
                <p class="copyright">&copy;&nbsp;2025 Brand All Rights Reserved.</p>
                <div class="share">
                    <a class="share__none" href="https://www.facebook.com"><img src="/dist/static/facebook.png"
                                                                                alt="facebook"></a>
                    <a class="share__confirm" href="https://www.x.com"><img src="/dist/static/twitter.png"
                                                                            alt="twitter"></a>
                    <a class="share__none" href="https://www.instagram.com"><img src="/dist/static/in.png"
                                                                                 alt="in"></a>
                    <a class="share__none" href="https://www.pinterest.com"><img src="/dist/static/pint.png"
                                                                                 alt="pint"></a>
                    <a class="share__none" href="https://www.google.com"><img src="/dist/static/google.png"
                                                                              alt="google"></a>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
{# Подключаем основной JS #}
<script src="{{ asset('index.js') }}" defer></script>
{# Подключаем дополнительные скрипты #}






